<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Test</title>
</head>

<body>
    <header>
        <div class="">
            Logo
        </div>
        <div class="">
            <h1>Text Analysis</h1>
        </div>
        <div class="">
            navigation
        </div>
    </header>
    <main>
        <section>
            <form class="">
                <p id='message'></p>
                <br>
                <p>Please enter the URL you want to generate Hashtag for:</p>
                <input id="name" type="text" name="input" value="" placeholder="Name"
                    onblur="return Client.checkURL(event)">
                <input id="submitBtn" type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)"
                    disabled>
            </form>
            <section>
                <section>
                    <h2>Results:</h2>
                    <div id="results">
                        <div id="polarity"><span>Polarity:</span> </div>
                        <div id="subjectivity"><span>Subjectivity:</span> </div>
                        <div id="text"><span>Text:</span> </div>
                        <div id="polarity_confidence"><span>Polarity confidence:</span> </div>
                        <div id="subjectivity_confidence"><span>Subjectivity confidence:</span> </div>
                    </div>
                </section>
    </main>
    <footer>
        <p>This is a footer</p>
    </footer>
    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>
</body>

</html>