body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(255, 240, 211);
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 50px auto;
    
    h2{
        font-size: x-large;
        font-weight: bolder;
        margin-bottom: 10px;
    }

    span{
        font-weight: bolder;
        font-size: large;
    }

    div{
        margin: 20px;
    }
}
